@font-face {
  font-family: 'MegaIcons';
  src:
    url('fonts/MegaIcons.ttf?9z78j2') format('truetype'),
    url('fonts/MegaIcons.woff?9z78j2') format('woff'),
    url('fonts/MegaIcons.svg?9z78j2#MegaIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MegaIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-choose-flat:before {content: "\e900";}
.icon-pointer-on-map:before {content: "\e901";}
.icon-burger:before {content: "\e902";}
.icon-range:before {content: "\e903";}
.icon-clock:before {content: "\e904";}
.icon-exchange:before {content: "\e905";}
.icon-arrow:before {content: "\e906";}
.icon-building-menu:before {content: "\e907";}
.icon-calendar:before {content: "\e908";}
.icon-pocket:before {content: "\e909";}
.icon-close:before {content: "\e90a";}
.icon-file:before {content: "\e90b";}
.icon-list:before {content: "\e90c";}
.icon-lock:before {content: "\e90d";}
.icon-mark:before {content: "\e90e";}
.icon-play:before {content: "\e90f";}
.icon-pointer:before {content: "\e910";}
.icon-triangle:before {content: "\e911";}
.icon-checklist:before {content: "\e912";}
.icon-cllock:before {content: "\e913";}
.icon-file-arrow:before {content: "\e914";}
.icon-files:before {content: "\e915";}
.icon-fb:before {content: "\e916";}
.icon-ig:before {content: "\e917";}
.icon-vk:before {content: "\e918";}
.icon-buildings-new:before {content: "\e919";}
.icon-list-new:before {content: "\e91a";}
.icon-magnifier:before {content: "\e91b";}
.icon-triangle-left:before {content: "\e91c";}
.icon-triangle-right:before {content: "\e91d";}
