.marker-cluster-small {
	background-color: #d24a4399;
}
.marker-cluster-small div {
	background-color: #D24A43;
}

.marker-cluster-medium {
	background-color: #d24a4399;
}
.marker-cluster-medium div {
	background-color: #D24A43;
}

.marker-cluster-large {
	background-color: #d24a4399;
}
.marker-cluster-large div {
	background-color: #D24A43;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	font-size: 12px;
}
.marker-cluster span {
	line-height: 30px;
}

.leaflet-div-icon {
	background: none;
	border: 0;
}

img.map--icon {
    max-height: 100px;
    transform: translate(-50%, -50%);
}

.mapbox--marker {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 0px !important;
	height: 0px !important;
}
.mapbox--marker.hidden {
	display: none;
}
.mapbox--marker__icon {
	position: absolute;
    right: 0;
    bottom: 0;
}
.mapbox--marker__icon span {
	position: absolute;
	left: 100%;
	top: 0;
	background: #fff;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 14px;
	color: #2F3339;
	letter-spacing: -1px;
	line-height: 16px;
	min-width: 80px;
	padding: 10px;
}
.small-view .mapbox--marker__icon img {
	width: 25px;
	height: 50px;
}
.small-view .mapbox--marker__icon span {
	display: none;
}
.house-model {
	display: none;
	width: 100px;
    height: 100px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}
.view3d .house-model {
	display: block;
}
.view3d span, .view3d img {
	display: none;
}